<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cjw.bookmanagementv0.mapper.BookMapper">

    <select id="selectAll" resultType="top.cjw.bookmanagementv0.entity.Book">
        SELECT *
        FROM book
    </select>
    <select id="selectByName" resultType="top.cjw.bookmanagementv0.entity.Book">
        SELECT *
        FROM book
        WHERE name like concat('%',#{name},'%');
    </select>
</mapper>