<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cjw.bookmanagementv0.mapper.RecordMapper">
    <insert id="add" parameterType="top.cjw.bookmanagementv0.entity.Record">
        insert into record(bookId, userId, borrowDatetime) value (#{bookId}, #{userId}, #{borrowDatetime})
    </insert>
    <update id="update">
        update record
        set returnDatetime = #{returnDatetime}
        WHERE recordId = #{recordId}
    </update>

    <select id="selectAll" resultMap="RecordResultMap">
        SELECT r.recordId,r.bookId, u.username, b.name, t.typeName, r.borrowDatetime,r.returnDatetime
        FROM record r
                 INNER JOIN user u ON r.userId = u.userId
                 INNER JOIN book b ON r.bookId = b.bookId
                 INNER JOIN type t ON b.typeId = t.typeId
    </select>
    <select id="selectByUsername" resultMap="RecordResultMap">
        SELECT r.recordId,r.bookId, u.username, b.name, t.typeName, r.borrowDatetime,r.returnDatetime
        FROM record r
                 INNER JOIN user u ON r.userId = u.userId
                 INNER JOIN book b ON r.bookId = b.bookId
                 INNER JOIN type t ON b.typeId = t.typeId
        WHERE u.username = #{username}
    </select>
    <resultMap id="RecordResultMap" type="top.cjw.bookmanagementv0.entity.Record">
        <id property="recordId" column="recordId"/>
        <result property="borrowDatetime" column="borrowDatetime"/>
        <result property="returnDatetime" column="returnDatetime"/>
        <association property="user" javaType="top.cjw.bookmanagementv0.entity.User">
            <id property="userId" column="userId"/>
            <result property="username" column="username"/>
        </association>
        <association property="book" javaType="top.cjw.bookmanagementv0.entity.Book">
            <id property="bookId" column="bookId"/>
            <result property="name" column="name"/>
        </association>
        <association property="type" javaType="top.cjw.bookmanagementv0.entity.Type">
            <id property="typeId" column="typeId"/>
            <result property="typeName" column="typeName"/>
        </association>
    </resultMap>


    <select id="selectByPartBookName" resultMap="RecordResultMap">
        SELECT r.recordId,r.bookId, u.username, b.name, t.typeName, r.borrowDatetime,r.returnDatetime
        FROM record r
                 INNER JOIN user u ON r.userId = u.userId
                 INNER JOIN book b ON r.bookId = b.bookId
                 INNER JOIN type t ON b.typeId = t.typeId
          WHERE b.name like concat('%', #{name}, '%')
    </select>

    <select id="findReturnTimeByUsernameAndBookIdSpecific" resultMap="RecordResultMap2">
        SELECT recordId, r.bookId, username, returnDatetime
        FROM record r
                 INNER JOIN user u ON r.userId = u.userId
                 INNER JOIN book b ON r.bookId = b.bookId
        WHERE u.username = #{username}
          AND r.bookId = #{bookId}
    </select>
    <select id="selectByBookName" resultMap="RecordResultMap">
        SELECT r.recordId,r.bookId, u.username, b.name, t.typeName, r.borrowDatetime,r.returnDatetime
        FROM record r
                 INNER JOIN user u ON r.userId = u.userId
                 INNER JOIN book b ON r.bookId = b.bookId
                 INNER JOIN type t ON b.typeId = t.typeId
        WHERE b.name = #{name}
    </select>
    <resultMap id="RecordResultMap2" type="top.cjw.bookmanagementv0.entity.Record">
        <id property="recordId" column="recordId"/>
        <result property="returnDatetime" column="returnDatetime"/>
        <association property="user" javaType="top.cjw.bookmanagementv0.entity.User">
            <id property="userId" column="userId"/>
            <result property="username" column="username"/>
        </association>
        <association property="book" javaType="top.cjw.bookmanagementv0.entity.Book">
            <id property="bookId" column="bookId"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

</mapper>